
ðŸŒŸ Exercise 1: Identifying Data Types
Below are various data sources. Identify whether each one is an example of structured or unstructured data.

A companyâ€™s financial reports stored in an Excel file.
Photographs uploaded to a social media platform.
A collection of news articles on a website.
Inventory data in a relational database.
Recorded interviews from a market research study.

A companys financial reports stored in an Excel file. structured
Photographs uploaded to a social media platform.  unstructured
A collection of news articles on a website. unstructured
Inventory data in a relational database. structured
Recorded interviews from a market research study. unstructured

Exercise 2: Transformation Exercise
For each of the following unstructured data sources, propose a method to convert it into structured data. Explain your reasoning.

A series of blog posts about travel experiences.
Audio recordings of customer service calls.
Handwritten notes from a brainstorming session.
A video tutorial on cooking.

 A series of blog posts about travel experiences.
 Method: Natural Language Processing (NLP) and topic modeling.
Reasoning: NLP techniques can be used to extract key entities (locations, dates, activities), sentiments, and topics from the text.
Topic modeling algorithms can group similar blog posts together, revealing recurring themes and patterns.
This information can be organized into a structured database with columns for location, date, activity, sentiment, and topic.

 Audio recordings of customer service calls.
Method: Speech-to-text conversion, followed by NLP and sentiment analysis.
Reasoning: First, convert audio to text using an accurate speech-to-text engine.
Then, employ NLP techniques to identify customer issues, agent responses, and key phrases.
Sentiment analysis can determine the emotional tone of the conversation (positive, negative, neutral).
Store the extracted information, along with timestamps and call IDs, in a structured database.

Handwritten notes from a brainstorming session.
 Method: Optical Character Recognition (OCR), followed by NLP and keyword extraction.
 Reasoning: OCR will convert handwritten text to digital text.  NLP techniques can then identify key concepts, ideas, and action items.
 Keyword extraction will help categorize the notes and highlight important topics. The structured data can include timestamps, author of the note,
and a list of keywords extracted from the notes.

 A video tutorial on cooking.
 Method: Video transcription (speech-to-text), object recognition, and timestamping.
Reasoning: Convert the audio portion of the video to text using a speech-to-text engine.
Use object recognition to identify ingredients and cooking utensils shown in the video, along with their timestamps.
The structured data could include a list of ingredients, steps in the recipe, timestamps for each step,  and corresponding images/objects identified.

ðŸŒŸ Exercise 3 : Import a file from Kaggle
Import the train dataset. Use the train.csv file.
Print the first few rows of the DataFrame.

In [6]:
import pandas as pd
try:
  df = pd.read_csv('train.csv')
  print(df.head(5))
except Exception as e:
  print(e)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

ðŸŒŸ Exercise 4: Importing a CSV File
Use the Iris Dataset CSV.

Download the Iris dataset CSV file and place it in the same directory as your Jupyter Notebook.
Import the CSV file using Pandas.
Display the first five rows of the dataset.

In [5]:
import pandas as pd
try:
  df = pd.read_csv('iris.csv')
  print(df.head(5))
except Exception as e:
  print(e)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

Exercise 5 : Export a dataframe to excel format and JSON format.
Create a simple dataframe.
Export the dataframe to an excel file.
Export the dataframe to a JSON file.

In [10]:
data = {'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8]}
df = pd.DataFrame(data)
df.to_excel("output.xlsx", index=False)
df.to_json("output.json", orient="records")

Exercise 6: Reading JSON Data
Use a sample JSON dataset

Import the JSON data from the provided URL.
Use Pandas to read the JSON data.
Display the first five entries of the data.

In [23]:
try:
  import requests
  url = "https://jsonplaceholder.typicode.com/posts"
  response = requests.get(url)
  posts = response.json()
  # Display the first five entries
  print(posts[:5])
# prompt: display the firs 5 entries of the posts.json
except Exception as e:
  print(e)

[{'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}, {'userId': 1, 'id': 2, 'title': 'qui est esse', 'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'}, {'userId': 1, 'id': 3, 'title': 'ea molestias quasi exercitationem repellat qui ipsa sit aut', 'body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut'}, {'userId': 1, 'id': 4, 'title': 'eum et est occaecati', 'body': 'ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit'}, {'userId': 1, 'id': 5, 'title': 'nesciunt quas odio', 'body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque'}]